$purple: #A729F5;
$light_purple: #bf7fe7;
$dark_grey: #313E51;
$light_grey:#F4F6FA;
$grey: #626C7F;
$pink: #F6E7FF;

body {
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  background-color: #edf0f7;
}
.main{
  padding-top: 25vh;
}
.question_card {
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
   justify-content: space-around;
   width: 1160px;
   align-items: flex-start;
   gap: 20px;
  
    &_title {
      width: 450px;
      height: 200px;
      &_number {
        font-size: 1rem;
        color: $grey;
        font-style: italic;
      }
  
      &_name {
        font-size: 2.2rem;
        font-weight: 500;
        color: $dark_grey;
     margin-top: 30px;
      }
    }
  

  .answer_list_part{
    display: flex;
    flex-direction: column;
   
  }
    .answer_list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 30px;
      width: 500px;
      
  
      .answer_option {
        display: flex;
        align-items: center;
        gap: 32px;
        border: 2px solid #ddd;
        border-radius: 24px;
        padding: 16px 35px;
        text-align: left;
        width: 500px;
        height: 70px;
        cursor: pointer;
        background-color: #fff;
        transition: all 0.3s ease;
        font-size: 1rem;
        font-weight: 500;
        color: $dark_grey;
  
        &:hover {
          border-color: #c5bfff;
        }
  
        .letter_box {
          background-color: #eee;
          color: $grey;
          font-weight: bold;
          padding: 12px 15px;
          border-radius: 6px;
          min-width: 30px;
          text-align: center;
          transition: all 0.3s ease;
        }
        .letter_box span{
          color: $dark_grey;
        
        }
        .letter_box:hover{
          background-color: $pink;

        }
  
        &.selected {
          border-color: $purple;
         
        }
  
        &.correct {
        border: 3px solid #26D782;
          
        }
  
        &.wrong {
          
          border: 3px solid #EE5454;
        }
      }
    }
  
    &_button {
      padding: 20px 24px;
      background-color:$purple;
      color: white;
      border: none;
      border-radius: 12px;
      font-size: 1.8rem;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.3s ease;
  
      &:hover {
        background-color: $light_purple;
      }
    }
  
    .error {
      color: #EE5454;
      margin-top: 10px;
      font-weight: 500;
      display: flex;
      justify-content: space-around;
      padding-top: 10px;
      font-size: 1.2rem;
    }
  }
  